<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
     <div id='data' class="bs_container">
    BioScripts is a python library providing bioinformatics scripts through a simple and consistent interface. It can be used on the command line or via a web service. Each script consists of a plugin running the algorithm and an html form managing its inputs.</br></br>

Simple and straightforward, with the complexity hidden for end-users, it allows quick installation and access to multiple tools. End-users may ignore where and how the operations are launched: on a dedicated machine with adapted CPU and RAM. 
    </div>

    <div class='bs_container'>
    Each plugin should be documented. So if you need more documentation about one, please contact the author directly.</br></br>

    Plugins developed by the BBCF are documented on <a href="http://bbcf.epfl.ch/bsplugins/content/bsPlugins.html">this page</a></div>
    <div class='bs_container'>
    For developpers, plugins are hosted by github at  <a href="https://github.com/bbcf/bsPlugins ">bbcf/bsPlugins</a> so that you can see the algorithms and use/fork them.</br></br>
    If you want to build your own plugin, take a look at the <a href="http://bbcf.epfl.ch/bsplugins/index.html">developpers documentation</a>.
    </div>
    <div class='bs_container'>
    Bioscript can be embedded in a third-party application, as in <a href="http://htsstation.epfl.ch/">HTSstation</a>.

    If you have questions use <a href="mailto:webmaster-bbcf@epfl.ch?Subject=[BS] A question about Bioscript"> this email</a>.
    </div>
<%#= render :partial => 'bs_js' %>


</html>
