<tr id=<%= @var['id'] %>:container >
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<% if @request.parameters %>
    <% if @request.parameters[@var['id']] %>
        <% t = JSON.parse(@request["parameters"]); %>
        <% value = t[@var['id']] %>
    <% end %>
<% end %>
<% value ?  val = value : ( @var['value'] ? val = @var['value'] : val = '') %>

<%= text_field_tag @var['id'], '', :value => val, :placeholder => @var['placeholder'], :required => @var['required'] %>
<%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
