<tr id=<%= @var['id'] %>:container >
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<%# if @var['id'] == 'format'%>
<%= select_tag( @var['id'], options_for_select(@var['options'])) %>
<%= label_tag(@var['id'], @var['help_text']) %>
<%# else %>
<%#= text_field_tag @var['id'], @var['value'] %>
<%# end %>
</td>
</tr>
