<tr id=<%= @var['id'] %>:container >
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<%# if (@var['options'][0].class == Array) %>
    <%# @var['options'].each do |o| %>
        <%# o.reverse! %>
    <%# end %>
<%# end %>

<% val = @var['options'][0] %>
<% if @request.parameters %>
    <% if @request.parameters[@var['id']] %>
        <% t = JSON.parse(@request["parameters"]); %>
        <% value = t[@var['id']] %>
        <% @var['options'].each do |opt|%>
            <% (opt.class == Array) ? (check = (opt[1].to_s == value.to_s or opt[0].to_s == value.to_s)) : (check = (opt.to_s == value.to_s)) %>
            <% if check %>
                <% val = opt %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<%= select_tag( @var['id'], options_for_select(@var['options'], val)) %>
<%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
