<tr id=<%= @var['id'] %>:container style="">
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
<%= check_box_tag(@var['id'], :checked => true) %>
<%= label_tag(:city_id, @var['help_text']) %>
</td>
</tr>
