<tr id=<%= @var['id'] %>:container >
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<%#ino more such combination  if id = format then it is list fild %>
    <%# if @var['id'] == 'format'%>
        <%# @var.to_json %>
        <%#= select_tag('form['+ @var['id'] + ']', options_for_select(@var['options'])) %>
    <%# else %>
        <% #before ext_field_tag %>
        <%#= text_field @var['id'],  @var['value'], :placeholder => @var['placeholder'], :required => @var['required'] %>
        <%= text_field_tag @var['id'], '', placeholder: @var['placeholder'], required: @var['required'] %>
    <%# end %>

    <%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
