<tr id=<%= @var['id'] %>:container style="">
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<% if (@var['options'][0].class == Array) %>
    <% @var['options'].each do |o| %>
        <% o.reverse! %>
    <% end %>
<% end %>
<%= select_tag( @var['id'], options_for_select(@var['options'])) %>
<%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
