<tr id=<%= @var['id'] %>:container >
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<%= text_field @var['id'], @var['value'], placeholder: '1' %>
<%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
