/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.fixedHeader
 *= require_tree .
 */

/* START_HIGHLIGHT */
#banner {
  background: LightSteelBlue;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: RoyalBlue;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  /*
    border: 2px solid red;
  */
    padding: 0em;
  margin-bottom: 2em;
  font: bold sans-serif;
}

#columns {
  background: LightSteelBlue;
     
/*    height: 200vh;*/
  #main {
    margin-left: 17em;
    padding: 2em 0.5em;
    background: whiteSmoke;

 /*  height: 100vh;*/
  }

  #side {
    txt-align: center;
    margin-left: 4em;
    font: small-caps 10px/10px "Times New Roman";
    float: left; 
    width: 10em;
    background: LightSteelBlue;
    
    ul {
      li {
        list-style: none;
        a {
          color: RoyalBlue;
        }
      }
    }
  }
}

.job_params td:first-child {
    text-align: left;
}
.job_params td {
    padding: 10px;
    text-align: left;
}

.belement {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey; /* #4b4e50;*/
    margin: 30px;
    padding: 30px;
}

.content p {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey;
    margin: 30px;
    padding: 30px;
}


.bs_container {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey;
    margin: 30px;
    padding: 30px;
    width: auto;
  
   th {
        text-align: right;
    }
}

.bs_form {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey;
    font-style: normal;
    margin: 15px;
    padding: 30px;
    width: auto;

    td {
    padding-bottom: 10px;
    padding-left: 10px;
    }
}

/* END_HIGHLIGHT */

