/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.fixedHeader
 *= require_tree .
 */

/* START_HIGHLIGHT */


html {
    min-height: 100%;
    height: 100%;
}

body {
    overflow: auto;
    background: LightSteelBlue;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head {
    background: LightSteelBlue none repeat scroll 0 0;
    color: RoyalBlue;
    font: small-caps 18px/18px "Times New Roman",serif;
    text-align: center;
}

.menu {
    font: small-caps 15px/15px "Times New Roman";
    li {
        list-style: none;
        margin-bottom: 10px;
        a {
            color: #226;
        }
    }
}

tr.border {
  border-bottom: 2px solid RoyalBlue;
}
table {
    border-collapse: collapse;
}

.footer {
        bottom: 0;
        padding-bottom: 15px;
        padding-top: 15px;
        clear: both;
        font: 15px/15px "Times New Roman", serif;
        color: #226;
        text-align: center;
        width: 100%;
        background: LightsteelBlue;
        position: fixed;
    } 

header {
  background: LightSteelBlue;
  border-bottom: 2px solid;
  font: small-caps 18px/18px "Times New Roman", serif;
  color: RoyalBlue;
  text-align: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  //padding: 1px;
  top: 0;
  img {
    float: left;
    display: inline-block;
    margin: 0 auto;
  }
  h1 {
        font: 10%, sans-serif;
        color: #226;
    }
}

#notice {
  color: #000 !important;
  padding: 0em;
  margin-bottom: 2em;
  font: bold sans-serif;
}

#columns {
    background: LightSteelblue;
    //background: whiteSmoke;
    margin-top: 73px;
    //margin-bottom: 90px;
    min-height: 80vh;
    height: calc( 100% - 75px ); 
    
    #side {
        min-height: 80vh; //900px;
        height: calc( 100% - 60px ); 
        width: 170px;
        position: fixed;
        margin: 0;
        //font: small-caps 15px/15px "Times New Roman";
        float: left; 
        background: LightSteelBlue;
        #menu {
            font: small-caps 15px/15px "Times New Roman";
            li {
                list-style: none;
                margin-bottom: 10px;
                a {
                    color: #226;
                }
            }
        }
    }
    
    #main {
        font: sans-serif;
        margin-left: 170px;
        min-height: calc( 100vh - 150px ); 
        padding: 1em .25em;
        background: whiteSmoke;
        width: auto; 
    }
}
#footer {
        bottom: 0;
        padding-bottom: 15px;
        padding-top: 15px;
        clear: both;
        font: 15px/15px "Times New Roman", serif;
        color: #226;
        text-align: center;
        width: 100%;
        background: LightsteelBlue;
        position: fixed;
    } 
/* end of columns*/

