/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.fixedHeader
 *= require_tree .
 */

/* START_HIGHLIGHT */


html, body {
//    min-height: 100%;
    height: 100%;
  //  overflow-x: hidden;
}

body {
    background: green;
   // background-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#banner {
  background: LightSteelBlue;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: RoyalBlue;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  padding: 0em;
  margin-bottom: 2em;
  font: bold sans-serif;
}

#columns {
    //background: LightSteelBlue;
    background: Green;
    height: 100%;
    width: auto; 
    #side {
        height: 100%;
        width: 10%; 
        font: small-caps 10px/10px "Times New Roman";
        float: left; 
        background: LightSteelBlue;
        ul {
            li {
                list-style: none;
                a {
                    color: #226;
                }
            }
        }
    }
    
    #main {
        margin-left: 14.5em;
    height: 100%;
        padding: 2em 0.5em;
        background: whiteSmoke;
        width: auto; 
    }
}
#footer {
        padding-bottom: 20px;
        padding-top: 20px;
        font: 15px/15px "Times New Roman", serif;
        color: #226;
        text-align: center;
        width: 100%;
        background: LightsteelBlue;
    } 
/* end of columns*/

