
/* FORM */
.belement {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey; /* #4b4e50;*/
    margin: 30px;
    padding: 30px;
}

.content p {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey;
    margin: 30px;
    padding: 30px;
}


.bs_container {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey;
    margin: 30px;
    padding: 30px;
    width: auto;
  
   th {
        text-align: right;
    }
}

.bs_title {
  font-size: large;
  font-weight: bold;
  padding: 10px; 
}

.bs_desc {
  font-weight: lighter;
  font-style: italic;
  padding: 5px;
  font-style: italic; 
}

.bs_form {
    border: 1px solid #4b4e50;
    border-radius: 5px;
    box-shadow: 10px 10px 5px Grey;
    font-style: normal;
    margin: 15px;
    padding: 30px;
    width: auto;

    td {
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    th {
        text-align: right;
        padding-right: 5px;
    }
    .error {
    color: red;
    margin-left: 10px;
    width: auto;
    display: inline;
}

.control-group.error input, .control-group.error select, .control-group.error textarea { border-color: #b94a48;}
.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline { color: #b94a48; }
.control-group.success input, .control-group.success select, .control-group.success textarea { border-color: #468847; }
.control-group.success .control-label, .control-group.success .help-block, .control-group.success .help-inline { color: #468847; }


}

.hidden {
    display: none;
}

/* END_HIGHLIGHT */

