.plugins {
    h1 {
        margin: 0;
        font: 150%, sans-serif;
        color: #226;
        #border-bottom: 3px dotted #77d;
    }
	table {
		border-collapse: collapse;
	}

    table thead {
        background: LightGray;
    }   
	table tr td {
		padding: 5px;
		vertical-align: center;
	}

    .title {
        vertical-align: center;
    }
	.list_info {
		width: 20%;
		dl {
			margin: 0;
		}
		dt {
			color: #244;
			font-weight: bold;
			font-size: larger;
		}
		dd {
			margin: 0;
		}
	}

#list_plugins_filter {
    border: 0px solid black;
    padding: 1em;
    font-size: 18px;

input {
    margin-left: 1em;
}
}

table.dataTable tr.odd { background-color: Lavender; }
table.dataTable tr.even { background-color: MintCream; }
}


